#tab {
  border-collapse: collapse;
  width: calc(120px * 5);
  table-layout: fixed;
  text-align: center;
  
  background-image: url('colorful-flower.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  
}

#tab td {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: 2px solid #ddd;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

@media print {
  #control {
    display: none;
  }
}

.underline {
  border-bottom: 1px solid black;
  width: 250px;
  display: inline-block;
}

/* https://fonts.google.com/?preview.text=Ta&classification=Handwriting */
body {
  font-family: "Salsa";
  color: #2f3032;
  font-weight: 400;
  font-style: normal;
}

.fancy-border {
  padding: 16px;
  text-align: center;
  border: 10px solid #f4a56080; 
  border-radius: 15px; 
  background-color: #ffffff;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}